omegaconf
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
sharedarray
tensorboardx
yapf
addict
plyfile
termcolor
timm
h5py
pyyaml
torch-geometric
spconv-cu120
numpy<2.0.0
pytorch-lightning
lpips
gdown
scikit-learn
open3d
git+https://github.com/openai/CLIP.git
